{% load static %}
  
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="caption">
            <h6>Hello Students</h6>
            <h2>Welcome to HIA UPSC/MPPSC Coaching Center</h2>
            <p>HIA UPSC/MPPSC Coaching Center is a premier institute dedicated to preparing students for competitive exams like UPSC and MPPSC. Renowned for its comprehensive curriculum, experienced faculty, and personalized guidance, we aim to equip aspirants with the knowledge and skills necessary to excel in these challenging examinations. Our center offers a range of courses, including classroom coaching, online classes, and study materials, ensuring a well-rounded education tailored to your needs.</p>
            <div class="main-button-red">
                <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
            </div>
        </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->