<div class="container search-section">
    <p class="subheading">LEARN NEW SKILLS</p>
    <h2 class="main-heading">HIA UPSC / MPPSC Coaching Center</h2>
    <div class="row stats">
        <div class="col-md-3 col-6 stat-item">
            <i class="fas fa-graduation-cap"></i>
            <h5>5M+</h5>
            <p>Students Enrolled</p>
        </div>
        <div class="col-md-3 col-6 stat-item">
            <i class="fas fa-book"></i>
            <h5>122,500+</h5>
            <p>Online Available Courses</p>
        </div>
        <div class="col-md-3 col-6 stat-item">
            <i class="fas fa-star"></i>
            <h5>15,000+</h5>
            <p>Premium Quality Products</p>
        </div>
        <div class="col-md-3 col-6 stat-item">
            <i class="fas fa-chalkboard-teacher"></i>
            <h5>7,500+</h5>
            <p>Teachers Registered</p>
        </div>
    </div>
</div>