<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <p class="subheading">LEARN NEW SKILLS</p>
                <h2 class="main-heading">Popular Courses.</h2>
            </div>
            
        </div>

        <!-- Carousel -->
        <div id="popularCoursesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card course-card">
                                <img src="{% static 'assets/images/slider/image1.jpg' %}" class="card-img-top" alt="Course 1">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="badge bg-primary">$99.00</span>
                                        <a href="#" class="btn btn-primary course-btn">Course Details</a>
                                    </div>
                                    <h5 class="card-title mt-2">Fully Responsive Web Design & Development.</h5>
                                    <p class="card-text">
                                        <span class="text-primary">Web Design</span> | John Luis Fernandes <br>
                                        <span class="text-warning">★★★★★</span>
                                    </p>
                                    <p class="card-text"><i class="fas fa-user"></i> 1.220 <i class="fas fa-comments"></i> 1.015 <i class="fas fa-user-graduate"></i> 125k Enrolled</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card course-card">
                                <img src="{% static 'assets/images/slider/image1.jpg' %}" class="card-img-top" alt="Course 2">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="badge bg-primary">$99.00</span>
                                        <a href="#" class="btn btn-primary course-btn">Course Details</a>
                                    </div>
                                    <h5 class="card-title mt-2">Introduction to Mobile Application Development.</h5>
                                    <p class="card-text">
                                        <span class="text-primary">Mobile Apps</span> | Fernando Torres <br>
                                        <span class="text-warning">★★★★★</span>
                                    </p>
                                    <p class="card-text"><i class="fas fa-user"></i> 1.220 <i class="fas fa-comments"></i> 1.015 <i class="fas fa-user-graduate"></i> 125k Enrolled</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card course-card">
                                <img src="{% static 'assets/images/slider/image1.jpg' %}" class="card-img-top" alt="Course 3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="badge bg-primary">$99.00</span>
                                        <a href="#" class="btn btn-primary course-btn">Course Details</a>
                                    </div>
                                    <h5 class="card-title mt-2">Learning IOS Apps Programming & Development.</h5>
                                    <p class="card-text">
                                        <span class="text-primary">Motion Graphic</span> | Jenny Garcias <br>
                                        <span class="text-warning">★★★★★</span>
                                    </p>
                                    <p class="card-text"><i class="fas fa-user"></i> 1.220 <i class="fas fa-comments"></i> 1.015 <i class="fas fa-user-graduate"></i> 125k Enrolled</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card course-card">
                                <img src="{% static 'assets/images/slider/image1.jpg' %}" class="card-img-top" alt="Course 3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="badge bg-primary">$99.00</span>
                                        <a href="#" class="btn btn-primary course-btn">Course Details</a>
                                    </div>
                                    <h5 class="card-title mt-2">Learning IOS Apps Programming & Development.</h5>
                                    <p class="card-text">
                                        <span class="text-primary">Motion Graphic</span> | Jenny Garcias <br>
                                        <span class="text-warning">★★★★★</span>
                                    </p>
                                    <p class="card-text"><i class="fas fa-user"></i> 1.220 <i class="fas fa-comments"></i> 1.015 <i class="fas fa-user-graduate"></i> 125k Enrolled</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card course-card">
                                <img src="{% static 'assets/images/slider/image1.jpg' %}" class="card-img-top" alt="Course 3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="badge bg-primary">$99.00</span>
                                        <a href="#" class="btn btn-primary">Course Details K</a>
                                    </div>
                                    <h5 class="card-title mt-2">Learning IOS Apps Programming & Development.</h5>
                                    <p class="card-text">
                                        <span class="text-primary">Motion Graphic</span> | Jenny Garcias <br>
                                        <span class="text-warning">★★★★★</span>
                                    </p>
                                    <p class="card-text"><i class="fas fa-user"></i> 1.220 <i class="fas fa-comments"></i> 1.015 <i class="fas fa-user-graduate"></i> 125k Enrolled</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more carousel-item blocks here for additional slides -->
            </div>
        </div>
    </div>
</body>
</html>